//Width: 820px and above
@media screen and (min-width: 820px) {
  #showcase {
    .showcase-item .showcase-text h1 {
      font-size: 100px;
    }
  }

  #banner {
    height: 25vh;
  }

  .banner-text hr {
    max-width: 600px;
  }

  #gallery {
    padding-top: 20px;
  }
}

//Width: 980px and above
@media screen and (min-width: 980px) {
  #showcase {
    height: 80vh;

    .showcase-item {
      @for $x from 1 through 5 {
        &:nth-child(#{$x}) {
          background-attachment: fixed;
        }
      }

      .showcase-text {
        hr {
          width: 25%;
        }
      }
    }
  }

  #learn-more .cards-container {
    @include flex-justify-center;

    .card:first-child {
      margin-right: 30px;
    }
  }

  #banner {
    background-attachment: fixed;
  }

  #gallery .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

//Width: 1280px and above
@media screen and (min-width: 1280px) {
  #showcase {
    height: 100vh;

    .showcase-item .showcase-text {
      hr {
        width: 25%;
      }
    }
  }
}

//Width: 1680px and above
@media screen and (min-width: 1680px) {
  #main-header {
    font-size: 18px;

    #logo span {
      font-size: 20px;
    }

    #navbar .navbar-toggler i {
      font-size: 20px;
    }
  }

  #showcase {
    .showcase-item .showcase-text {
      p {
        font-size: 18px;
      }

      hr {
        width: 15%;
      }

      h1 {
        font-size: 120px;
      }
    }

    .showcase-toggler i {
      font-size: 15px;
    }
  }

  #learn-more {
    .cards-container {
      .card {
        .card-text {
          p {
            &:nth-child(1) {
              font-size: 15px;
            }
            font-size: 18px;
          }

          hr {
            width: 45%;
          }

          h3 {
            font-size: 32px;
          }
        }
      }
    }
  }

  .banner-text {
    p {
      font-size: 13px;
    }

    hr {
      width: 650px;
    }

    h1 {
      font-size: 32px;
    }
  }

  #main-footer {
    .footer-text .footer-links {
      font-size: 34px;

      a {
        color: #a6a6a6;
        text-decoration: none;
        margin-right: 15px;
        @include easeOut;

        &:first-child {
          margin-left: 15px;
        }
      }
    }

    .footer-text p {
      font-size: 16px;
    }
  }
}
